@charset=utf-8;

*{
color:#fff;
}

div#interface{
}

h1{
text-align:center;
font-size:35pt;
}

h2{
background: #404040;
color:White;
padding:5px;
}

img{
float:none; 
display:block; 
margin-left:auto; 
margin-right:auto;}
}